<fieldset class="my-fieldset">
  <legend class="my-fieldset"><%= Proposal.human_attribute_name(:not_approved_comment) %></legend>

  <div class="row">
    <div class="form-group col-sm-12">
      <p class="h5-style"><%= "#{partial_data.not_approved_comment}".gsub(/\n/, '<br>').html_safe %></p>
    </div>
  </div> <!--/row -->

</fieldset>