<div id="importatnt_info" class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="fa fa-info-circle"></span>&nbsp;<span><strong>Uwaga!</strong></span>

      <button type="button" class="close" data-target="#importatnt_info" data-dismiss="alert"> <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>

    </div> 
  </div>

  <div class="panel-body">
    <p class="h4-style text-danger center"><strong>Zmiany zasad przeprowadzania egzaminów radioamatorskich</strong></p>
    <p class="h5-style text-justify">
    Od dnia <strong>1 maja 2026 r</strong>. obowiązują nowe zasady opłat za przystąpienie do egzaminu osób ubiegających się o pozwolenie w służbie radiokomunikacyjnej amatorskiej , wynikające z nowego ozporządzenia Ministra Cyfryzacji z dnia 19 marca 2026 r. w sprawie pozwoleń radiowych dla służby radiokomunikacyjnej amatorskiej (Dz.U. 2026 poz. 406).
    </p>
    <p class="h5-style text-justify">
    W szczególności zmianie uległy opłaty za przystąpienie do egzaminu osób ubiegających się o pozwolenie w służbie radiokomunikacyjnej amatorskiej (kategoria 1 i 3):<br>
    &nbsp;&nbsp;&nbsp;&nbsp;150 zł – egzamin,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;75 zł – egzamin poprawkowy,<br>
    W przypadku osób, które <strong>nie ukończyły 18 lat w dniu zgłoszenia na egzamin</strong>:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;75 zł – egzamin,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;35 zł – egzamin poprawkowy.
    </p>
    <p class="h5-style text-justify">
    Nowe stawki obowiązują dla wszystkich egzaminów przeprowadzanych <strong>od dnia 1 maja 2026 r. bez względu na datę dokonania głoszenia na egzamin</strong>. Oznacza to, że również egzaminy odbywające się od 1 maja 2026 r., na które zgłoszenie zostało dokonane przed tą datą, podlegają nowym opłatom.
    </p>
    <p class="h5-style text-justify">
    Zachęcamy do zapoznania się ze wszystkimi nowymi zasadami przeprowadzania egzaminów odbywających się od 1 maja 2026 r., które są dostępne na stronie: 
<a href="https://bip.uke.gov.pl/jak-uzyskac-rezerwacje--pozwolenie--zezwolenie-tresc/egzaminy-amatorskie,20.html">Egzaminy amatorskie - Urząd Komunikacji Elektronicznej</a>
    </p>
  </div>
</div>

